- const skillCategories = ['Awareness', 'Body', 'Control', 'Education', 'Fighting', 'Performance', 'Ranged Weapon', 'Social', 'Technique'];
- const awarenessSkills = ['Concentration', 'Conceal/Reveal Object', 'Lip Reading', 'Perception', 'Tracking'];
- const bodySkills = ['Athletics', 'Contortionist', 'Dance', 'Endurance', 'Resist Torture/Drugs', 'Stealth'];
- const controlSkills = ['Drive Land Vehicle', 'Pilot Air Vehicle (x2)', 'Pilot Sea Vehicle', 'Riding'];
- const educationSkills = ['Accounting', 'Animal Handling', 'Bureaucracy', 'Business', 'Composition ', 'Criminology', 'Cryptography', 'Deduction', 'Education', 'Gamble', 'Language', 'Library Search', 'Local Expert', 'Science', 'Tactics', 'Wilderness Survival'];
- const fightingSkills = ['Brawling', 'Evasion', 'Martial Arts (x2)', 'Melee Weapon'];
- const performanceSkills = ['Acting', 'Play Instrument'];
- const rangedWeaponSkills = ['Archery', 'Autofire (x2)', 'Handgun', 'Heavy Weapons (x2)', 'Shoulder Arms'];
- const socialSkills = ['Bribery', 'Conversation', 'Human Perception', 'Interrogation', 'Persuasion', 'Personal Grooming', 'Streetwise', 'Trading', 'Wardrobe & Style'];
- const techniqueSkills = ['Air Vehicle Tech', 'Basic Tech', 'Cybertech', 'Demolitions (x2)', 'Electronics/Security Tech (x2)', 'First Aid', 'Forgery', 'Land Vehicle Tech', 'Paint/Draw/Sculpt', 'Paramedic (x2)', 'Photography/Film', 'Pick Lock', 'Pick Pocket', 'Sea Vehicle Tech', 'Weaponstech'];
