link(rel='stylesheet' href='css.css')

include abstract/variables.pug
include abstract/mixins.pug

//- TABS
  =============================
include layout/tabs/tabs

//- SCRIPTS
script(type="text/worker")
    include scripts.js